<app-navbar></app-navbar>

<div class="flex flex-row flex-wrap justify-around m-5">
    <div class="inline-flex flex-col items-center justify-center rounded-xl shadow-xl shadow-black p-10 m-5">
        <app-editable-profile-picture></app-editable-profile-picture>
        <h1 style="padding-top: 2rem; padding-bottom: -2rem;">{{this.authService.user!.name}} {{this.authService.user!.surname}}</h1>
        <h3>@{{this.authService.user!.username}}</h3>
        <button (click)="onChangePassword()"
            class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded m-3">
            <i class="bi bi-shield-lock"></i>
            Change password
        </button>
        <button (click)="onDelete()"
            class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded m-3">
            <i class="bi bi-trash3"></i>
            Delete account
        </button>
    </div>
    <div class="inline-flex flex-col flex-grow rounded-xl shadow-xl shadow-black p-10 m-5">
        <form [formGroup]="userDetailForm">
            <div class="field">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                <input formControlName="name" type="text" name="name" id="name" placeholder="Enter your name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required="">
                <mat-error *ngIf="userDetailForm.get('name')?.invalid">{{getNameErrorMessage()}}</mat-error>
            </div>
            <div class="field">
                <label for="surname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Surname</label>
                <input formControlName="surname" type="text" name="surname" id="surname" placeholder="Enter your surname"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required="">
                <mat-error *ngIf="userDetailForm.get('surname')?.invalid">{{getSurnameErrorMessage()}}</mat-error>
            </div>
            <div class="field">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                <input formControlName="username" type="text" name="username" id="username" placeholder="Enter your username"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required="">
                <mat-error *ngIf="userDetailForm.get('username')?.invalid">{{getUsernameErrorMessage()}}</mat-error>
            </div>
            <div class="field">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input formControlName="email" type="email" name="email" id="email" placeholder="Enter your email"
                    class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    required="">
                <mat-error *ngIf="userDetailForm.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: end;">
                <div id="cancel" class="little-button">
                    <button (click)="this.onCancel();"
                        class="inline-flex justify-center w-full px-3 py-2 text-xs font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">
                        Cancel
                    </button>
                </div>
                <div id="save" class="little-button">
                    <button (click)="onSave();"
                        [disabled]="userDetailForm.invalid"
                        class="inline-flex justify-center w-full px-3 py-2 text-xs font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">
                        Save
                    </button>
                </div>
                <div id="edit" class="little-button">
                    <button (click)="onEdit();"
                        [disabled]="userDetailForm.invalid"
                        class="inline-flex justify-center w-full px-3 py-2 text-xs font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">
                        Edit
                    </button>
                </div>
            </div>
        </form>        
    </div>
</div>